@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 100;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/100italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/200italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Epilogue';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/user/Documents/Website%20Projects/NickNationGames.github.io/fonts/Epilogue/900italic.ttf') format('truetype');
}
